<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#"><i class="fa fa-gratipay"></i>Yalla</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
<!--
          <a>login</a>
        </li>
        <li class="nav-item">
          <a>Register</a>
-->
        </li>
      </ul>
    </div>
  </nav>


      <div class="search " >
      <p class="text-center" id="word">Yalla specify where you will go</p>
    <div class="col-xl-12 row">
      <input type="text" placeholder="Search Resturant, Store, Coffea, Gym, Club" class="form-control  offset-sm-2 offset-md-3 col-xs-2 col-sm-5 col-md-5  search-input">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Location" class="form-control col-xs-1 col-sm-2 col-md-2 col-lg-1  location-input">
      <i class="fa fa-map-marker"></i>
    </div>
  </div>
</div>



<!--
<div class="mode col-sm-12 ">
  <p class="text-center choose-mode"> Discover By Mood</p>
  <div class=" col-sm-12 row">

    <a class="col-md-3 alone text-center" href="#">
      Alone
    </a>
    <a class="col-md-3 couple text-center" href="#">
      Couple
    </a>
    <a class="col-md-3 party text-center" href="#">
      Friends
    </a>

  </div>
</div>

<hr class="fasla"/>
-->

<div class="category col-sm-12 ">
  <p class="text-center choose-store"> Discover By Places</p>
  <div class=" col-sm-12 row">
  <a class="col-sm-2 coffe text-center" href="#">
    coffee
  </a>
  <a class="col-sm-2 restaurant text-center" href="#">
    Restaurant
  </a>
  <a class="col-sm-2 store text-center" href="#">
    Store
  </a>
  <a class="col-sm-2 gym text-center" href="#">
  Gym
  </a>

  <a class="col-sm-2 club text-center" href="#">
    Club
  </a>
  </div>
</div>


<hr class="fasla"/>

<!-- Start -->


<div class="content col-sm-12 row">
  <div class="left col-sm-8">
    <div class="collect-head">
      <p class="new-collectin">New Collections</p>
      <select name="" id="" data-style="btn-danger" class="selectpicker offset-4 offset-sm-4 offset-md-5 offset-lg-7  col-sm-3 col-lg-2   collect-option">
        <option value="">Store</option>
        <option value="">Gym</option>
      </select>
    </div>


    <!--- all collection of stores --->
    <div class="collection">
      <div>
        <img src="../../../assets/Zara-Logo.jpg" alt=""  class="img-cover">
        <div class="data">
          <div class="data1">
            <p> <i class="fa fa-shopping-bag"></i> Zara</p>
            <p> <i class="fa fa-shopping-cart"></i> Cloths</p>
            <p><i class="fa fa-circle" style="color:green;"></i> Open Now</p>
          </div>
          <div class="data2">
            <p><i class="fa fa-map-marker"></i> elmansora, mall elgamaa</p>
            <p><i class="fa fa-calendar"></i> 25 June 2018 <i class="fa fa-clock-o"></i> 09:30 pm</p>
            <p><i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i></p>
          </div>
        </div>
      </div>

      <div class="clear"></div>
      <div class="collection-content">
        <p>the new collection is cloth about bags 200$</p>
          <div class="col-sm-12 row">

          <div  class="img1 col-sm-3" style="background-image:url('../../../assets/Zara1.jpg');">
          </div>
            <div  class="img1 col-sm-3" style="background-image:url('../../../assets/Zara2.jpg');">
            </div>
        </div>
        <hr/>
        <span><a href="#">10 <i class="fa fa-thumbs-up"></i></a> &nbsp; <a href="#">10 <i class="fa fa-comment"></i> </a> </span>
      </div>
    </div>

    <div class="collection">
      <div>
        <img src="../../../assets/bershka.png" alt=""  class="img-cover">
        <div class="data">
          <div class="data1">
            <p> <i class="fa fa-shopping-bag"></i> Bershka</p>
            <p> <i class="fa fa-shopping-cart"></i> Cloths</p>
            <p><i class="fa fa-circle" style="color:green;"></i> Open Now</p>
          </div>
          <div class="data2">
            <p><i class="fa fa-map-marker"></i> elmansora, mall elgamaa</p>
            <p><i class="fa fa-calendar"></i> 25 June 2018 <i class="fa fa-clock-o"></i> 09:25 pm</p>
            <p><i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i></p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="collection-content">
        <p>the new collection is cloth about bags 200$</p>
        <div class="col-sm-12 row">

          <div  class="img1 col-sm-3" style="background-image:url('../../../assets/bershka1.jpg');">
          </div>
          <div  class="img1 col-sm-3" style="background-image:url('../../../assets/bershka2.jpg');">
          </div>
          <div  class="img1 col-sm-3" style="background-image:url('../../../assets/bershka3.jpg');">
          </div>

        </div>
      </div>
    </div>

    <!---End of collection --->



  </div>


  <!-- Right -->
  <div class="right col-sm-4">

    <div style="margin-bottom: 35px">


    <div class="collect-head">
      <p class="new-collectin">New in Yalla</p>
      <select name=""  data-style="btn-danger" class="selectpicker offset-4 offset-sm-4 offset-md-5 offset-lg-5  col-sm-3 col-lg-3   collect-option">
        <option value="">Store</option>
        <option value="">Gym</option>
      </select>
    </div>
    <!-- new store -->
    <div class="newstore">
      <div>
        <img src="../../../assets/Zara-Logo.jpg" alt=""  class="img-cover">
        <div class="data">
          <div class="data1">
            <p> <i class="fa fa-shopping-bag"></i> Zara</p>
            <p> <i class="fa fa-shopping-cart"></i> Cloths</p>
            <p><i class="fa fa-circle" style="color:green;"></i> Open Now</p>
          </div>
          <div class="data2">
            <p><i class="fa fa-map-marker"></i> elmansora, mall elgamaa</p>
            <p><i class="fa fa-calendar"></i> 25 June 2018 <i class="fa fa-clock-o"></i> 09:30 pm</p>
            <p><i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i></p>
          </div>
        </div>
        <div class="clear"></div>

      </div>

    </div>

    <div class="newstore">
      <div>
        <img src="../../../assets/bershka.png" alt=""  class="img-cover">
        <div class="data">
          <div class="data1">
            <p> <i class="fa fa-shopping-bag"></i> Bershka</p>
            <p> <i class="fa fa-shopping-cart"></i> Cloths</p>
            <p><i class="fa fa-circle" style="color:green;"></i> Open Now</p>
          </div>
          <div class="data2">
            <p><i class="fa fa-map-marker"></i> elmansora, mall elgamaa</p>
            <p><i class="fa fa-calendar"></i> 25 June 2018 <i class="fa fa-clock-o"></i> 09:25 pm</p>
            <p><i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i></p>
          </div>
        </div>
        <div class="clear"></div>

      </div>

    </div>
    </div>
    <!-- end store -->

    <!-- top rated-->

    <div style="margin-bottom: 35px">

    <div class="collect-head">
      <p class="new-collectin">Top Rated</p>
      <select name=""  data-style="btn-danger" class="selectpicker offset-4 offset-sm-4 offset-md-5 offset-lg-5  col-sm-3 col-lg-3   collect-option">
        <option value="">Store</option>
        <option value="">Gym</option>
      </select>
    </div>
    <!-- top rated-->
    <div class="newstore">
      <div>
        <img src="../../../assets/Zara-Logo.jpg" alt=""  class="img-cover">
        <div class="data">
          <div class="data1">
            <p> <i class="fa fa-shopping-bag"></i> Zara</p>
            <p> <i class="fa fa-shopping-cart"></i> Cloths</p>
            <p><i class="fa fa-circle" style="color:green;"></i> Open Now</p>
          </div>
          <div class="data2">
            <p><i class="fa fa-map-marker"></i> elmansora, mall elgamaa</p>
            <p><i class="fa fa-calendar"></i> 25 June 2018 <i class="fa fa-clock-o"></i> 09:30 pm</p>
            <p><i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i></p>
          </div>
        </div>
        <div class="clear"></div>

      </div>

    </div>

    <div class="newstore">
      <div>
        <img src="../../../assets/bershka.png" alt=""  class="img-cover">
        <div class="data">
          <div class="data1">
            <p> <i class="fa fa-shopping-bag"></i> Bershka</p>
            <p> <i class="fa fa-shopping-cart"></i> Cloths</p>
            <p><i class="fa fa-circle" style="color:green;"></i> Open Now</p>
          </div>
          <div class="data2">
            <p><i class="fa fa-map-marker"></i> elmansora, mall elgamaa</p>
            <p><i class="fa fa-calendar"></i> 25 June 2018 <i class="fa fa-clock-o"></i> 09:25 pm</p>
            <p><i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i> &ensp;
              <i class="fa fa-star" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i>&ensp;
              <i class="fa fa-star-o" style="color:yellow;"></i></p>
          </div>
        </div>
        <div class="clear"></div>

      </div>

    </div>
    </div>
    <!-- end  top rated-->

    <!-- new users-->

    <div style="margin-bottom: 35px">

      <div class="collect-head">
        <p class="new-collectin">New users</p>
      </div>
      <!-- users -->
      <div class="newstore">
        <div>
          <img src="../../../assets/Zara-Logo.jpg" alt=""  class="img-cover">
          <div class="data">
            <div class="data1">
              <p> <i class="fa fa-shopping-bag"></i> Zara</p>
              <p> <i class="fa fa-shopping-cart"></i> Cloths</p>
              <p><i class="fa fa-circle" style="color:green;"></i> Open Now</p>
            </div>
            <div class="data2">
              <p><i class="fa fa-map-marker"></i> elmansora, mall elgamaa</p>
              <p><i class="fa fa-calendar"></i> 25 June 2018 <i class="fa fa-clock-o"></i> 09:30 pm</p>
              <p><i class="fa fa-star" style="color:yellow;"></i> &ensp;
                <i class="fa fa-star" style="color:yellow;"></i> &ensp;
                <i class="fa fa-star" style="color:yellow;"></i>&ensp;
                <i class="fa fa-star-o" style="color:yellow;"></i>&ensp;
                <i class="fa fa-star-o" style="color:yellow;"></i></p>
            </div>
          </div>
          <div class="clear"></div>

        </div>

      </div>

      <div class="newstore">
        <div>
          <img src="../../../assets/bershka.png" alt=""  class="img-cover">
          <div class="data">
            <div class="data1">
              <p> <i class="fa fa-shopping-bag"></i> Bershka</p>
              <p> <i class="fa fa-shopping-cart"></i> Cloths</p>
              <p><i class="fa fa-circle" style="color:green;"></i> Open Now</p>
            </div>
            <div class="data2">
              <p><i class="fa fa-map-marker"></i> elmansora, mall elgamaa</p>
              <p><i class="fa fa-calendar"></i> 25 June 2018 <i class="fa fa-clock-o"></i> 09:25 pm</p>
              <p><i class="fa fa-star" style="color:yellow;"></i> &ensp;
                <i class="fa fa-star" style="color:yellow;"></i> &ensp;
                <i class="fa fa-star" style="color:yellow;"></i>&ensp;
                <i class="fa fa-star-o" style="color:yellow;"></i>&ensp;
                <i class="fa fa-star-o" style="color:yellow;"></i></p>
            </div>
          </div>
          <div class="clear"></div>

        </div>

      </div>
    </div>
    <!-- end  users-->

    <div style="clear: both"></div>

    <!--Download our app-->
    <div style="margin-bottom: 35px">

      <div class="collect-head">
        <p class="new-collectin">Download our Application</p>
      </div>
      <!-- users -->
      <div class="our-App">
        <a href="#">
          <img src="../../../assets/app.jpg" width="95%" alt="">
        </a>

      </div>

    </div>

    </div>
</div>
<!-- End -->

<hr class="fasla"/>

<!-- Advertising -->


<div class="advertising col-sm-12 ">
    <div class="adver2  col-sm-12"></div>
</div>

